.v-banner__wrapper {
    border-bottom: none !important;
}

.add-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 30px 0px !important;
}

.font-secondary {
    color: #687083;
    font-size: 18px;
    line-height: 28px;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #092540;
    -webkit-text-stroke: 1px #092540;
}

.section-subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #092540;
    -webkit-text-stroke: 1px #092540;
}